{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags-->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- CSS Files-->
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/styles.css' %}"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" />
        <script src="https://kit.fontawesome.com/1f06dfeacc.js" crossorigin="anonymous"></script>

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Story 10</title>
        {% endif %}
    </head>
    <body style="text-align: center;">
        <!-- Content Start -->
        <div
            class="container"
            style="font-family: 'Roboto', sans-serif; padding: 2vh;"
        >
            {% block content %} {% endblock content %}
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>
    </body>

    <!-- AJAX JSON Filler Script -->
    <script src="{% static 'home/scripts/main.js' %}"></script>
</html>
