{% extends 'home/base.html' %} {% load crispy_forms_tags %} {% load static %}
{%block content%}
<!-- If user is logged in -->
{% if user.is_authenticated %}
<h3>Whoops! You're already logged in!</h3>
<p><a href="{%url 'home-index'%}">Home</a></p>
<p><a href="{%url 'logout'%}">Logout</a></p>
{% else %}
<form method="POST" class="form-group">
    {% csrf_token %} {{form|crispy}}
        <p>*: Required Field</p>
        <div class="vertical-center">
            <button class="btn btn-success" type="submit">Register</button>
        </div>
    <p><a href="{% url 'home-index' %}">Cancel</a></p>
</form>
{% endif %} {% endblock content %}
