.headerbox {
    color: #f3f16d;
    font-weight: 900;
}
#footer {
    position: relative;
    bottom: 0;
    margin-top: 10vh;
    width: 100%;
    padding: 2vh;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: rgb(76, 173, 253);
  font-weight: bold;
}


.vertical-center {
    margin-right: 6em;
  }

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: rgb(0, 0, 0);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

#like-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(bgimg.png);
  text-align: center;
    
}

body {
  display: -ms-flexbox;
  display: flex;
  color: rgb(255, 255, 255);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  

}

.container {
    background-color: rgba(61, 141, 64, 0.507);
    width: fit-content;
    height: auto;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.front-page{
  position: fixed;
  width: 2331px;
  height: 2906px;
  left: -399px;
  top: -902px;


}

.cover-container {
  max-width: 42em;
}

/* Navbar */
.navbar-nav {
  font-family: Roboto, sans-serif;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}

.cover-heading {
  font-weight: bold;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

#display-button {
  margin-left: auto;
  margin-right: auto;
}

/*
 * Footer
 */
.footer {
  color: rgb(255, 255, 255);
}

/* FRIENDS FORM */
form {
  display: inline-block;
}

@media only screen and (max-width: 960px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .col {
    padding-top: 4em;
    padding-bottom: 4em;
    padding-right: 2em;
    padding-left: 2em;
  }
}

#accordion {
  margin:20px;
  height:300px;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: rgb(0, 0, 0);
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

#search{
	width:300px;
	height:150px;
	margin:auto;
	margin-top:20px;
	padding:15px;
}
button{
	position:relative;
	left:50px;
}
.aligning{
	margin-left:700px;
	margin-top:20px;
}
#imagebutton{
	position:relative;
	left:-10px;
	top:-8px;
	margin-bottom:15px;
}
#result{
  margin-top:50px;
}

.label {
  color: black;
}

