{% extends 'home/base.html' %} {% load static %} {% load crispy_forms_tags %}
{%block content%}
<!-- If user is logged in -->
{% if user.is_authenticated %}
<h3>Whoops! You're already logged in!</h3>
<p><a href="{%url 'home-index'%}">Home</a></p>
<p><a href="{%url 'logout'%}">Logout</a></p>
{% else %}
<form method="POST" class="form-group">
    {% csrf_token %} {{form|crispy}}
    <div class="vertical-center">
        <button type="submit" class="btn btn-success">Login</button>
    </div>
    <br>
    <p>*: Required Field</p>
    <p><a href="{% url 'home-register' %}">Register</a></p>
    <p><a href="{% url 'home-index' %}">Back</a></p>
</form>
{% endif %} {% endblock content %}
